* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dbdbdd;
}

ul {
  list-style-type: none;
}

.container {
  width: 60%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3% 3%;
  margin: 5% auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 2% 5% 2%;
}

.title {
  font-size: 1.3em;
}

.fa-rotate-90 {
  font-size: 1.2em;
}

form {
  display: flex;
  border: 1px solid #dbdbdd;
}

#activity {
  font-style: italic;
  height: 50px;
  border: none;
  padding-left: 2%;
  outline: none;
  width: 90%;
}

.add {
  width: 14%;
  border-style: none;
  background-color: white;
}

li {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #dbdbdd;
  border-top: 1px solid #dbdbdd;
}

.tasks {
  font-family: cursive;
  font-size: 1.2em;
}

#edit {
  outline: none;
  border: none;
}

.clear {
  padding: 3%;
  border-style: none;
  background-color: #f7f6fa;
  font-size: 1em;
  color: #666667;
}

li button {
  padding: 1%;
  font-size: 1em;
  font-family: cursive;
  border: none;
  border-radius: 10%;
  color: rgb(251, 247, 247);
}

button.edit {
  background-color: #07c107;
}

button.save-btn {
  background-color: #092ae3;
}

button.delete-btn {
  background-color: #e30909;
}

li button:active {
  background: black;
}

.complete {
  text-decoration: line-through;
}
